#root {
  font-family: serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:#fcf3e4;
}

body{
  background-image: url(./assets/stephen-pedersen-0J76FMwjyhM-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.pagewrapper{
  position: relative;
}

.glowable {
  font-size: 2rem;
  transition: color 0.3s, text-shadow 0.3s;
}

[glow] .glowable {
  color: var(--glow-color);
  text-shadow: 0 0 12px var(--glow-color), 0 0 24px var(--glow-color);
}

.page-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}



h3{color: #896c00; }

h1{color: #302400; }

.answer-button{
  background: #654f00;
  border-radius: 10px;
  font-size: 15pt;
  text-align: center;
  margin: .5em;
  width: 20rem; 
}

.answer-button:hover{
  
  background: #fcf3e4; 
  color: #654f00;

}

.answer-row:after{
  clear: both;
  
}

.quiz-background{
  
  padding: 2em;

}


.glowable-text {
  color: black;
}

[glow] .quiz-background {
  color: var(--glow-color);
}


