#root {
  font-family: serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:#fcf3e4;
}

body{
  background-image: url(./assets/stephen-pedersen-0J76FMwjyhM-unsplash-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}




h3{color: #896c00; }

h1{
  color: #302400; 
  text-wrap: wrap;
}

.answer-button{
  background: #654f00;
  border-radius: 10px;
  font-size: 15pt;
  text-align: center;
  margin: .5em;
  width: 80vh; 
}

.answer-button:hover{
  
  background: #fcf3e4; 
  color: #654f00;

}

.answer-row:after{
  clear: both;
  
}

.quiz-background{
  
  padding: 2vw;
  background-color: rgb(156, 156, 156);
  width: 100vh;

}



